<div class="wrapper" id="wrapper">
	<nav class="nav" (clickOutside)="showSidebar = false">
		<ul class="nav__ul container" [class._active]="showSidebar">
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/mineprojects"
					class="nav__a"
				>
					<span class="material-icons">folder</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/minetasks"
					class="nav__a"
				>
					<span class="material-icons">task</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/minereleases"
					class="nav__a"
				>
					<span class="material-icons">publish</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/minesprints"
					class="nav__a"
				>
					<span class="material-icons">track_changes</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/minetags"
					class="nav__a"
				>
					<span class="material-icons">label</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/minestories"
					class="nav__a"
				>
					<span class="material-icons">checklist</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/minepages"
					class="nav__a"
				>
					<span class="material-icons">view_agenda</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/minemodules"
					class="nav__a"
				>
					<span class="material-icons">apps</span>
				</a>
			</li>
			<li class="nav__li _burger" (click)="showSidebar = !showSidebar">
				<a class="nav__toggle" [class._active]="showSidebar">
					<span class="nav__toggle-line"></span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="main" [class.documents-wrapper--open]="isMenuOpen">
		<div class="fade" [@showInOut]="showSidebar" *ngIf="showSidebar"></div>
		<div class="nav__burger _active" [class._active]="showSidebar">
			<div class="nav__burger-list">
				<div class="theme-switch">
					<span
						class="material-icons"
						*ngIf="!us.mode"
						(click)="us.setMode('dark')"
					>
						dark_mode
					</span>
					<span
						class="material-icons"
						*ngIf="us.mode"
						(click)="us.setMode()"
					>
						light_mode
					</span>
				</div>
				<a
					class="nav__burger-link nav__burger-user"
					routerLink="/profile"
				>
					<img
						[src]="forceAvatarUrl || us.user.thumb ? url + us.user.thumb : 'assets/default.png'"
						(error)="forceAvatarUrl = 'assets/default.png'"
						alt="Profile Picture"
						class="avatar__img"
						height="50"
						width="50"
					/>
					<div class="name">{{us.user.name || "Profile"}}</div>
				</a>
				<hr />
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/users"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">people</span>
					<span translate>Theme.Users</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/forms"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">backup_table</span>
					<span translate>Theme.Forms</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/translates"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">translate</span>
					<span translate>Theme.Translates</span>
				</a>
				<hr *ngIf="us.role('admin')" />
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/projects"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">folder</span>
					<span translate>Theme.Projects</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/tasks"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">task</span>
					<span translate>Theme.Tasks</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/releases"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">publish</span>
					<span translate>Theme.Releases</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/sprints"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">track_changes</span>
					<span translate>Theme.Sprints</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/tags"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">label</span>
					<span translate>Theme.Tags</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/stories"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">checklist</span>
					<span translate>Theme.Stories</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/pages"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">view_agenda</span>
					<span translate>Theme.Pages</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/elements"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">widgets</span>
					<span translate>Theme.Elements</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/modules"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">apps</span>
					<span translate>Theme.Modules</span>
				</a>
				<hr />
			</div>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>
